<%- include('../layouts/header.html') %>
    <div class="container-sm" style="border: 1px solid;background-color: rgb(62, 80, 2);width: 100%;">
        <div class="container">
            <nav class="navbar navbar-light " style="background-color: rgb(62, 80, 2);width: 100%;">
                <div class="container-fluid">
                    <ul class="ul" style="display: inline-block;">
                        <li style="display: inline-block;" class="m-2">
                            <% if (judul==='vidio' ) { %>
                                <a href="/"><i class="bi bi-arrow-left" style="color: white;"></i></a>
                                <%}else if(judul==='vidio-' + dataVidio2.tanda ){%>
                                    <a href="/vidio"><i class="bi bi-arrow-left" style="color: white;"></i></a>
                        </li>

                        <% } %>
                            <li style="display: inline-block;" class="m-2">
                                <h1 style="font-size: 20px;color: aliceblue;">caja-lite</h1>
                            </li>
                            <li style="display: inline-block;" class="m-2">mode <i class="bi bi-file-arrow-up-fill"
                                    style="color:  rgb(18, 23, 1);"></i>
                            </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="row align-items-start p-5" style="background-color: rgb(8, 8, 8);">
            <div class="container" style="background-color: rgb(77, 76, 76);padding:20px;">
                <% if (judul==='vidio' ) { %>


                    <div class="container">
                        <div class="row g-2">
                            <% dataVidio.forEach((data,index)=> { %>

                                <div class="col-sm-3 p-2" ">
                                <form action=" /vidio/<%=data.tanda%>">
                                    <button style=" background-color: rgb(62, 80, 2) ;">
                                        <video autoplay src="../vidio/<%=data.nama%>" type="vidio/mp4"
                                            width="100%"></video>
                                    </button>

                                    </form>
                                </div>
                                <% }) %>

                        </div>
                    </div>
                    <% } else if(judul==='vidio-' + dataVidio2.tanda ){%>
                        <div class="col-sm-6 p-2 rounded mx-auto d-block">
                            <form action=" /vidio/<%=dataVidio2.tanda%>">
                                <button style=" background-color: rgb(62, 80, 2) ;">
                                    <video autoplay controls src="../vidio/<%=dataVidio2.nama%>" type="vidio/mp4"
                                        width="100%"></video>
                                </button>

                            </form>
                        </div>
                        <% } %>
            </div>

        </div>
        <%- include('../layouts/footer.html') %>